{% extends 'base.html' %}

{% block navig %}
    <nav class="nav col-md-4 justify-content-center" >
        <div class="nav-item"><a class="nav-link px-2 text-body-secondary" href="{% url 'StoreCatalog' %}">Каталог</a></div>
        <div class="nav-item"><a class="nav-link px-2 text-body-secondary" href="{% url 'Feedback' %}">Обратная связь</a></div>
    </nav>
{% endblock %}


{% block contentent %}
    <div style="display: flex; justify-content: space-between">
            <div style="background-color: #d6b2ff; width: 20%; margin: 0.5vw; border-radius: 10px">
                <h1 style="text-align: center">Доп контент(StorePage)</h1>
            </div>

            <div style="background-color: #ffcc9a; width: 100%; margin: 0.5vw; border-radius: 10px">
                <h1 style="text-align: center">Осн контент(StorePage)</h1>
            </div>

            <div style="background-color: #d6b2ff; width: 20%; margin: 0.5vw; border-radius: 10px">
                <h1 style="text-align: center">Доп контент(StorePage)</h1>
            </div>
        </div>
{% endblock %}