<header class="d-flex justify-content-center py-3" style="background: #363636">
  <ul class="nav nav-pills">
    <li class="nav-item"><a href="{% url 'StorePage' %}" class="nav-link active" aria-current="page">Главная магазина</a></li>
    <li class="nav-item"><a href="{% url 'Api' %}" class="nav-link">API</a></li>
    <li class="nav-item"><a href="{% url 'PersonalAre' %}" class="nav-link">Личный кабинет</a></li>
    <li class="nav-item"><a href="{% url 'ShopingCart' %}" class="nav-link">Корзина</a></li>
  </ul>
</header>