<nav class="nav col-md-4 justify-content-end">
    <div class="nav-item"><a class="nav-link px-2 text-body-secondary" href="{% url 'StorePage' %}">Catalog</a></div>
    <div class="nav-item"><a class="nav-link px-2 text-body-secondary" href="{% url 'Api' %}">API</a></div>
    <div class="nav-item"><a class="nav-link px-2 text-body-secondary" href="{% url 'PersonalAre' %}">PersonalAre</a></div>
    <div class="nav-item"><a class="nav-link px-2 text-body-secondary" href="{% url 'ShopingCart' %}">ShopingCart</a></div>
</nav>